.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  flex: 1;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
}

.cart-icon {
  margin-right: 5px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff0000; 
  color: #fff;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}

/* para o ícone finalmente pegar */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
